/*
Error: Undefined variable: "$border".
        on line 8 of ./stylesheets/sass/components/media.sass

3:   display: flex
4:   text-align: left
5:   .content:not(:last-child)
6:     margin-bottom: 0.75rem
7:   .media
8:     border-top: 1px solid rgba($border, 0.5)
9:     display: flex
10:     padding-top: 0.75rem
11:     .content:not(:last-child),
12:     .control:not(:last-child)
13:       margin-bottom: 0.5rem

Backtrace:
./stylesheets/sass/components/media.sass:8
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:186:in `perform_arg'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:133:in `block in _perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:133:in `each'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:133:in `each_with_index'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:133:in `each'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:133:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/funcall.rb:133:in `_perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/list_literal.rb:75:in `block in _perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/list_literal.rb:75:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/list_literal.rb:75:in `_perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/engine.rb:290:in `render'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$border\".\A         on line 8 of ./stylesheets/sass/components/media.sass\A \A 3:   display: flex\A 4:   text-align: left\A 5:   .content:not(:last-child)\A 6:     margin-bottom: 0.75rem\A 7:   .media\A 8:     border-top: 1px solid rgba($border, 0.5)\A 9:     display: flex\A 10:     padding-top: 0.75rem\A 11:     .content:not(:last-child),\A 12:     .control:not(:last-child)\A 13:       margin-bottom: 0.5rem"; }
