/*
Error: Undefined mixin 'desktop'.
        on line 4 of ./stylesheets/sass/elements/container.sass, in `desktop'
        from line 4 of ./stylesheets/sass/elements/container.sass

1: .container
2:   margin: 0 auto
3:   position: relative
4:   +desktop
5:     max-width: $desktop - (2 * $gap)
6:     width: $desktop - (2 * $gap)
7:     &.is-fluid
8:       margin-left: $gap
9:       margin-right: $gap

Backtrace:
./stylesheets/sass/elements/container.sass:4:in `desktop'
./stylesheets/sass/elements/container.sass:4
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:98:in `with_mixin'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:135:in `with_frame'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/stack.rb:79:in `with_base'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/engine.rb:290:in `render'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/simaonogueira/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'desktop'.\A         on line 4 of ./stylesheets/sass/elements/container.sass, in `desktop'\A         from line 4 of ./stylesheets/sass/elements/container.sass\A \A 1: .container\A 2:   margin: 0 auto\A 3:   position: relative\A 4:   +desktop\A 5:     max-width: $desktop - (2 * $gap)\A 6:     width: $desktop - (2 * $gap)\A 7:     &.is-fluid\A 8:       margin-left: $gap\A 9:       margin-right: $gap"; }
