/*
--------------------------------------------------------------------------------
Playfair Display, serif
regular: 400
bold: 700
black: 900
--------------------------------------------------------------------------------
*/
@import 'https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,900';
